.formTask {
  width: 100%;
  margin-top: -1.688rem;
  display: grid;
  grid-template-columns: 1fr 90px;
  gap: 0.5rem;
  height: 3.375rem;
}

.formTask input[type="text"] {
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  padding-left: 1rem;
  color: var(--gray-100);
}

.formTask input[type="text"]::placeholder {
  color: var(--gray-300);
}

.submit {
  background: var(--blue-dark);
  color: var(--white);
  border: 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: background-color 0.1s;
}

.submit:not(:disabled):hover {
  background: var(--blue);
}

.submit:disabled {
  cursor: not-allowed;
  background: var(--blue-dark);
  opacity: 0.9;
}

.textButton {
  padding-right: 0.5rem;
}